In [1]:
import pandas as pd
import numpy as np

import os

In [2]:
os.listdir('ebd_US-TX-029_2023')

['terms_of_use.txt',
 'ebd_US-TX-029_202301_202312_smp_relDec-2023.txt',
 'BCRCodes.txt',
 'eBird_Basic_Dataset_Metadata_v1.15.pdf',
 'ebd_US-TX-029_202301_202312_smp_relDec-2023_sampling.txt',
 'IBACodes.txt',
 'USFWSCodes.txt',
 'recommended_citation.txt']

In [3]:
df_init = pd.read_csv('ebd_US-TX-029_2023/ebd_US-TX-029_202301_202312_smp_relDec-2023.txt', sep='\t')

In [4]:
df_init.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254085 entries, 0 to 254084
Data columns (total 50 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   GLOBAL UNIQUE IDENTIFIER    254085 non-null  object
 1   LAST EDITED DATE            254085 non-null  object
 2   TAXONOMIC ORDER             254085 non-null  int64
 3   CATEGORY                    254085 non-null  object
 4   TAXON CONCEPT ID            254085 non-null  object
 5   COMMON NAME                 254085 non-null  object
 6   SCIENTIFIC NAME             254085 non-null  object
 7   SUBSPECIES COMMON NAME      7781 non-null    object
 8   SUBSPECIES SCIENTIFIC NAME  7781 non-null    object
 9   EXOTIC CODE                 16108 non-null   object
 10  OBSERVATION COUNT           254085 non-null  object
 11  BREEDING CODE               3967 non-null    object
 12  BREEDING CATEGORY           3967 non-null    object
 13  BEHAVIOR CODE               3967 non-null    object
 14  AGE/SEX                     765 non-null     object
 15  COUNTRY                     254085 non-null  object
 16  COUNTRY CODE                254085 non-null  object
 17  STATE                       254085 non-null  object
 18  STATE CODE                  254085 non-null  object
 19  COUNTY                      254085 non-null  object
 20  COUNTY CODE                 254085 non-null  object
 21  IBA CODE                    4544 non-null    object
 22  BCR CODE                    254085 non-null  int64
 23  USFWS CODE                  0 non-null       float64
 24  ATLAS BLOCK                 0 non-null       float64
 25  LOCALITY                    254085 non-null  object
 26  LOCALITY ID                 254085 non-null  object
 27  LOCALITY TYPE               254085 non-null  object
 28  LATITUDE                    254085 non-null  float64
 29  LONGITUDE                   254085 non-null  float64
 30  OBSERVATION DATE            254085 non-null  object
 31  TIME OBSERVATIONS STARTED   253695 non-null  object
 32  OBSERVER ID                 254085 non-null  object
 33  SAMPLING EVENT IDENTIFIER   254085 non-null  object
 34  PROTOCOL TYPE               254085 non-null  object
 35  PROTOCOL CODE               254085 non-null  object
 36  PROJECT CODE                254085 non-null  object
 37  DURATION MINUTES            243413 non-null  float64
 38  EFFORT DISTANCE KM          195426 non-null  float64
 39  EFFORT AREA HA              113 non-null     float64
 40  NUMBER OBSERVERS            253409 non-null  float64
 41  ALL SPECIES REPORTED        254085 non-null  int64
 42  GROUP IDENTIFIER            77026 non-null   object
 43  HAS MEDIA                   254085 non-null  int64
 44  APPROVED                    254085 non-null  int64
 45  REVIEWED                    254085 non-null  int64
 46  REASON                      0 non-null       float64
 47  TRIP COMMENTS               26319 non-null   object
 48  SPECIES COMMENTS            13029 non-null   object
 49  Unnamed: 49                 0 non-null       float64
dtypes: float64(10), int64(6), object(34)
memory usage: 96.9+ MB

In [5]:
df_init.columns = df_init.columns.str.lower().str.replace('\W+','_',regex=True)

In [6]:
df_init.head()

,global_unique_identifier,last_edited_date,taxonomic_order,category,taxon_concept_id,common_name,scientific_name,subspecies_common_name,subspecies_scientific_name,exotic_code,...,number_observers,all_species_reported,group_identifier,has_media,approved,reviewed,reason,trip_comments,species_comments,unnamed_49
0,URN:CornellLabOfOrnithology:EBIRD:OBS1604293624,2023-01-11 23:54:00.580061,5751,species,avibase-8EB0C1FA,American Avocet,Recurvirostra americana,NaN,NaN,NaN,...,1.0,1,NaN,0,1,0,NaN,NaN,Seen and heard in flight over Bird Pond; indiv...,NaN
1,URN:CornellLabOfOrnithology:EBIRD:OBS1595602863,2023-10-25 00:17:23.078205,7335,species,avibase-13E9F9B4,American Bittern,Botaurus lentiginosus,NaN,NaN,NaN,...,2.0,1,NaN,0,1,0,NaN,NaN,NaN,NaN
2,URN:CornellLabOfOrnithology:EBIRD:OBS1607571036,2023-01-15 21:40:16.314384,21168,species,avibase-69544B59,American Crow,Corvus brachyrhynchos,NaN,NaN,NaN,...,1.0,0,NaN,0,1,0,NaN,NaN,NaN,NaN
3,URN:CornellLabOfOrnithology:EBIRD:OBS1611944707,2023-01-21 17:57:44.50285,21168,species,avibase-69544B59,American Crow,Corvus brachyrhynchos,NaN,NaN,NaN,...,13.0,1,G9532004,0,1,0,NaN,This was a bird walk for the Bexar Audubon Soc...,NaN,NaN
4,URN:CornellLabOfOrnithology:EBIRD:OBS1610976542,2023-01-20 15:08:11.491595,21168,species,avibase-69544B59,American Crow,Corvus brachyrhynchos,NaN,NaN,NaN,...,1.0,1,NaN,0,1,0,NaN,NaN,NaN,NaN

In [7]:
df_init.shape

(254085, 50)

In [8]:
df_init = df_init.dropna(how='all',axis=1)

In [9]:
df_init.head()

,global_unique_identifier,last_edited_date,taxonomic_order,category,taxon_concept_id,common_name,scientific_name,subspecies_common_name,subspecies_scientific_name,exotic_code,...,effort_distance_km,effort_area_ha,number_observers,all_species_reported,group_identifier,has_media,approved,reviewed,trip_comments,species_comments
0,URN:CornellLabOfOrnithology:EBIRD:OBS1604293624,2023-01-11 23:54:00.580061,5751,species,avibase-8EB0C1FA,American Avocet,Recurvirostra americana,NaN,NaN,NaN,...,3.219,NaN,1.0,1,NaN,0,1,0,NaN,Seen and heard in flight over Bird Pond; indiv...
1,URN:CornellLabOfOrnithology:EBIRD:OBS1595602863,2023-10-25 00:17:23.078205,7335,species,avibase-13E9F9B4,American Bittern,Botaurus lentiginosus,NaN,NaN,NaN,...,1.724,NaN,2.0,1,NaN,0,1,0,NaN,NaN
2,URN:CornellLabOfOrnithology:EBIRD:OBS1607571036,2023-01-15 21:40:16.314384,21168,species,avibase-69544B59,American Crow,Corvus brachyrhynchos,NaN,NaN,NaN,...,NaN,NaN,1.0,0,NaN,0,1,0,NaN,NaN
3,URN:CornellLabOfOrnithology:EBIRD:OBS1611944707,2023-01-21 17:57:44.50285,21168,species,avibase-69544B59,American Crow,Corvus brachyrhynchos,NaN,NaN,NaN,...,1.650,NaN,13.0,1,G9532004,0,1,0,This was a bird walk for the Bexar Audubon Soc...,NaN
4,URN:CornellLabOfOrnithology:EBIRD:OBS1610976542,2023-01-20 15:08:11.491595,21168,species,avibase-69544B59,American Crow,Corvus brachyrhynchos,NaN,NaN,NaN,...,32.187,NaN,1.0,1,NaN,0,1,0,NaN,NaN

In [10]:
df_init.category.value_counts()

species     242768
issf          4210
domestic      3422
spuh          2017
slash         1399
form           242
hybrid          27
Name: category, dtype: int64

In [11]:
df_init = df_init [df_init.category == 'species']

In [12]:
df_init.shape

(242768, 46)

In [13]:
df_init.head()

,global_unique_identifier,last_edited_date,taxonomic_order,category,taxon_concept_id,common_name,scientific_name,subspecies_common_name,subspecies_scientific_name,exotic_code,...,effort_distance_km,effort_area_ha,number_observers,all_species_reported,group_identifier,has_media,approved,reviewed,trip_comments,species_comments
0,URN:CornellLabOfOrnithology:EBIRD:OBS1604293624,2023-01-11 23:54:00.580061,5751,species,avibase-8EB0C1FA,American Avocet,Recurvirostra americana,NaN,NaN,NaN,...,3.219,NaN,1.0,1,NaN,0,1,0,NaN,Seen and heard in flight over Bird Pond; indiv...
1,URN:CornellLabOfOrnithology:EBIRD:OBS1595602863,2023-10-25 00:17:23.078205,7335,species,avibase-13E9F9B4,American Bittern,Botaurus lentiginosus,NaN,NaN,NaN,...,1.724,NaN,2.0,1,NaN,0,1,0,NaN,NaN
2,URN:CornellLabOfOrnithology:EBIRD:OBS1607571036,2023-01-15 21:40:16.314384,21168,species,avibase-69544B59,American Crow,Corvus brachyrhynchos,NaN,NaN,NaN,...,NaN,NaN,1.0,0,NaN,0,1,0,NaN,NaN
3,URN:CornellLabOfOrnithology:EBIRD:OBS1611944707,2023-01-21 17:57:44.50285,21168,species,avibase-69544B59,American Crow,Corvus brachyrhynchos,NaN,NaN,NaN,...,1.650,NaN,13.0,1,G9532004,0,1,0,This was a bird walk for the Bexar Audubon Soc...,NaN
4,URN:CornellLabOfOrnithology:EBIRD:OBS1610976542,2023-01-20 15:08:11.491595,21168,species,avibase-69544B59,American Crow,Corvus brachyrhynchos,NaN,NaN,NaN,...,32.187,NaN,1.0,1,NaN,0,1,0,NaN,NaN

In [14]:
df_init = df_init.drop(columns=['global_unique_identifier','last_edited_date','category',
    'taxon_concept_id', 'scientific_name','subspecies_common_name','subspecies_scientific_name',
                'exotic_code','breeding_code','breeding_category','behavior_code','age_sex','country',
                'country_code','state_code','state','county','county_code','iba_code','bcr_code', 
                 'locality_id', 'locality_type', 'protocol_code','protocol_type', 'project_code',
                      'observer_id','duration_minutes','effort_distance_km','number_observers',
                      'sampling_event_identifier','time_observations_started','all_species_reported',
                      'effort_area_ha','has_media','approved','reviewed','trip_comments','species_comments'])

In [15]:
df_init.head()

,taxonomic_order,common_name,observation_count,locality,latitude,longitude,observation_date,group_identifier
0,5751,American Avocet,1,Mitchell Lake Audubon Center,29.304862,-98.497704,2023-01-11,NaN
1,7335,American Bittern,1,Medina River Greenway--Pleasanton Rd Trailhead,29.270249,-98.494046,2023-01-02,NaN
2,21168,American Crow,4,"Olmos Basin Park, San Antonio US-TX (29.4734,-...",29.473376,-98.476835,2023-01-15,NaN
3,21168,American Crow,2,Medina River Greenway--Pleasanton Rd Trailhead,29.270249,-98.494046,2023-01-21,G9532004
4,21168,American Crow,3,Bexar Co.--Hardy/Mathis Rd. (E. of I-37),29.135219,-98.412738,2023-01-20,NaN

In [16]:
df_init.shape

(242768, 8)

In [17]:
df_keep_dups = df_init [df_init.group_identifier.notnull()].sort_values('observation_count', 
                                               ascending=False).drop_duplicates(subset=['taxonomic_order',
                                                                                        'group_identifier'])
df_keep_dups.tail()

,taxonomic_order,common_name,observation_count,locality,latitude,longitude,observation_date,group_identifier
80289,33300,Bronzed Cowbird,1,San Antonio Botanical Garden (HOTE 096),29.457417,-98.459301,2023-04-23,G10060644
80299,33300,Bronzed Cowbird,1,Bexar Co.--Hardy/Mathis Rd. (E. of I-37),29.135219,-98.412738,2023-04-27,G10085726
80321,8293,Broad-winged Hawk,1,Devil's Bend Park,29.282749,-98.617229,2023-04-27,G10083518
80323,8293,Broad-winged Hawk,1,Crescent Bend Nature Park (Bexar Co.),29.550227,-98.232574,2023-04-21,G10042387
80328,8293,Broad-winged Hawk,1,Braunig Lake (HOTE 101),29.248820,-98.393971,2023-04-19,G10030657

In [287]:
df_keep_dups.shape

(28802, 8)

In [18]:
df_no_dups = df_init [df_init.group_identifier.isnull()]
df_no_dups.head()

,taxonomic_order,common_name,observation_count,locality,latitude,longitude,observation_date,group_identifier
0,5751,American Avocet,1,Mitchell Lake Audubon Center,29.304862,-98.497704,2023-01-11,NaN
1,7335,American Bittern,1,Medina River Greenway--Pleasanton Rd Trailhead,29.270249,-98.494046,2023-01-02,NaN
2,21168,American Crow,4,"Olmos Basin Park, San Antonio US-TX (29.4734,-...",29.473376,-98.476835,2023-01-15,NaN
4,21168,American Crow,3,Bexar Co.--Hardy/Mathis Rd. (E. of I-37),29.135219,-98.412738,2023-01-20,NaN
5,21168,American Crow,1,Salado Creek Greenway--Jack White Park,29.452304,-98.423899,2023-01-18,NaN

In [19]:
df_no_dups.shape

(168877, 8)

In [20]:
df = pd.concat([df_no_dups, df_keep_dups])

In [21]:
df.head()

,taxonomic_order,common_name,observation_count,locality,latitude,longitude,observation_date,group_identifier
0,5751,American Avocet,1,Mitchell Lake Audubon Center,29.304862,-98.497704,2023-01-11,NaN
1,7335,American Bittern,1,Medina River Greenway--Pleasanton Rd Trailhead,29.270249,-98.494046,2023-01-02,NaN
2,21168,American Crow,4,"Olmos Basin Park, San Antonio US-TX (29.4734,-...",29.473376,-98.476835,2023-01-15,NaN
4,21168,American Crow,3,Bexar Co.--Hardy/Mathis Rd. (E. of I-37),29.135219,-98.412738,2023-01-20,NaN
5,21168,American Crow,1,Salado Creek Greenway--Jack White Park,29.452304,-98.423899,2023-01-18,NaN

In [23]:
df = df.drop('group_identifier', axis=1)

In [24]:
df.head()

,taxonomic_order,common_name,observation_count,locality,latitude,longitude,observation_date
0,5751,American Avocet,1,Mitchell Lake Audubon Center,29.304862,-98.497704,2023-01-11
1,7335,American Bittern,1,Medina River Greenway--Pleasanton Rd Trailhead,29.270249,-98.494046,2023-01-02
2,21168,American Crow,4,"Olmos Basin Park, San Antonio US-TX (29.4734,-...",29.473376,-98.476835,2023-01-15
4,21168,American Crow,3,Bexar Co.--Hardy/Mathis Rd. (E. of I-37),29.135219,-98.412738,2023-01-20
5,21168,American Crow,1,Salado Creek Greenway--Jack White Park,29.452304,-98.423899,2023-01-18

In [25]:
df.taxonomic_order.value_counts()

33967    9416
2404     7571
27652    7040
26897    6721
21774    6038
         ...
6153        1
7699        1
6638        1
702         1
33532       1
Name: taxonomic_order, Length: 339, dtype: int64