In [89]:
import pandas as pd
import numpy as np
import re
import os

In [140]:
# df = pd.read_csv('ebd_US-TX_relAug-2023/ebd_US-TX_relAug-2023.txt', sep='\t')
df = pd.read_csv('bexar_county_birding.txt', index_col=0)

In [141]:
df.head()

,global_unique_identifier,last_edited_date,taxonomic_order,category,taxon_concept_id,common_name,scientific_name,subspecies_common_name,subspecies_scientific_name,exotic_code,...,number_observers,all_species_reported,group_identifier,has_media,approved,reviewed,reason,trip_comments,species_comments,unnamed__49
30302,URN:CornellLabOfOrnithology:EBIRD:OBS847277689,2023-03-04 07:36:07.729744,5706,species,avibase-8EB0C1FA,American Avocet,Recurvirostra americana,NaN,NaN,NaN,...,2.0,1.0,G4836653,0.0,1.0,0.0,NaN,NaN,NaN,NaN
30303,URN:CornellLabOfOrnithology:EBIRD:OBS847254144,2023-03-04 07:36:07.729744,5706,species,avibase-8EB0C1FA,American Avocet,Recurvirostra americana,NaN,NaN,NaN,...,2.0,1.0,G4837345,0.0,1.0,0.0,NaN,NaN,NaN,NaN
30304,URN:CornellLabOfOrnithology:EBIRD:OBS867237981,2023-03-04 07:36:07.729744,5706,species,avibase-8EB0C1FA,American Avocet,Recurvirostra americana,NaN,NaN,NaN,...,3812.0,1.0,G4891614,0.0,1.0,0.0,NaN,NaN,NaN,NaN
30305,URN:CornellLabOfOrnithology:EBIRD:OBS848142715,2023-03-04 07:36:07.729744,5706,species,avibase-8EB0C1FA,American Avocet,Recurvirostra americana,NaN,NaN,NaN,...,11.0,1.0,G4836781,0.0,1.0,0.0,NaN,NaN,NaN,NaN
30306,URN:CornellLabOfOrnithology:EBIRD:OBS852505966,2023-03-04 07:36:07.729744,5706,species,avibase-8EB0C1FA,American Avocet,Recurvirostra americana,NaN,NaN,NaN,...,1.0,1.0,NaN,0.0,1.0,0.0,NaN,NaN,NaN,NaN

In [142]:
df.shape

(835193, 50)

In [143]:
df.columns

Index(['global_unique_identifier', 'last_edited_date', 'taxonomic_order',
       'category', 'taxon_concept_id', 'common_name', 'scientific_name',
       'subspecies_common_name', 'subspecies_scientific_name', 'exotic_code',
       'observation_count', 'breeding_code', 'breeding_category',
       'behavior_code', 'age_sex', 'country', 'country_code', 'state',
       'state_code', 'county', 'county_code', 'iba_code', 'bcr_code',
       'usfws_code', 'atlas_block', 'locality', 'locality_id', 'locality_type',
       'latitude', 'longitude', 'observation_date',
       'time_observations_started', 'observer_id', 'sampling_event_identifier',
       'protocol_type', 'protocol_code', 'project_code', 'duration_minutes',
       'effort_distance_km', 'effort_area_ha', 'number_observers',
       'all_species_reported', 'group_identifier', 'has_media', 'approved',
       'reviewed', 'reason', 'trip_comments', 'species_comments',
       'unnamed__49'],
      dtype='object')

#### global_unique_identifier

In [144]:
df.global_unique_identifier.value_counts()

URN:CornellLabOfOrnithology:EBIRD:OBS847277689     1
URN:CornellLabOfOrnithology:EBIRD:OBS1413577576    1
URN:CornellLabOfOrnithology:EBIRD:OBS1431340379    1
URN:CornellLabOfOrnithology:EBIRD:OBS1411013605    1
URN:CornellLabOfOrnithology:EBIRD:OBS1424980547    1
                                                  ..
URN:CornellLabOfOrnithology:EBIRD:OBS1128552306    1
URN:CornellLabOfOrnithology:EBIRD:OBS1136168352    1
URN:CornellLabOfOrnithology:EBIRD:OBS1115672126    1
URN:CornellLabOfOrnithology:EBIRD:OBS1133949542    1
URN:CornellLabOfOrnithology:EBIRD:OBS1807225521    1
Name: global_unique_identifier, Length: 835193, dtype: int64

> unique identifier, can drop

In [145]:
df = df.drop(columns='global_unique_identifier')

In [146]:
df.head()

,last_edited_date,taxonomic_order,category,taxon_concept_id,common_name,scientific_name,subspecies_common_name,subspecies_scientific_name,exotic_code,observation_count,...,number_observers,all_species_reported,group_identifier,has_media,approved,reviewed,reason,trip_comments,species_comments,unnamed__49
30302,2023-03-04 07:36:07.729744,5706,species,avibase-8EB0C1FA,American Avocet,Recurvirostra americana,NaN,NaN,NaN,2,...,2.0,1.0,G4836653,0.0,1.0,0.0,NaN,NaN,NaN,NaN
30303,2023-03-04 07:36:07.729744,5706,species,avibase-8EB0C1FA,American Avocet,Recurvirostra americana,NaN,NaN,NaN,1,...,2.0,1.0,G4837345,0.0,1.0,0.0,NaN,NaN,NaN,NaN
30304,2023-03-04 07:36:07.729744,5706,species,avibase-8EB0C1FA,American Avocet,Recurvirostra americana,NaN,NaN,NaN,2,...,3812.0,1.0,G4891614,0.0,1.0,0.0,NaN,NaN,NaN,NaN
30305,2023-03-04 07:36:07.729744,5706,species,avibase-8EB0C1FA,American Avocet,Recurvirostra americana,NaN,NaN,NaN,2,...,11.0,1.0,G4836781,0.0,1.0,0.0,NaN,NaN,NaN,NaN
30306,2023-03-04 07:36:07.729744,5706,species,avibase-8EB0C1FA,American Avocet,Recurvirostra americana,NaN,NaN,NaN,1,...,1.0,1.0,NaN,0.0,1.0,0.0,NaN,NaN,NaN,NaN

#### last_edited_date

In [147]:
df.last_edited_date.value_counts()

2023-03-04 07:36:07.729744    101291
2021-03-29 16:58:41.721063     52001
2022-05-25 17:30:45.104755     32645
2023-03-03 21:43:04.119784     22732
2021-03-23 23:52:29.063059     13466
                               ...
2021-09-13 12:07:11.329355         1
2021-09-05 19:30:46.625503         1
2021-09-14 09:56:25.444488         1
2021-09-14 11:03:50.949137         1
2023-08-19 13:54:52.447503         1
Name: last_edited_date, Length: 163065, dtype: int64

> dont need down to the microsecond, just keeping the date

In [148]:
df.last_edited_date = df.last_edited_date.str.split(expand=True)[0]

In [149]:
df.last_edited_date.value_counts()

2023-03-04    124033
2023-03-03     56512
2021-03-29     52395
2022-05-25     38342
2023-03-05     20938
               ...
2020-07-03        16
2020-07-02        14
2023-09-11        12
2020-04-04         6
2020-01-16         6
Name: last_edited_date, Length: 1349, dtype: int64

In [150]:
df.last_edited_date.value_counts().sort_index()

2020-01-01      44
2020-01-02     120
2020-01-03      71
2020-01-04     144
2020-01-05      47
              ...
2023-09-06    1284
2023-09-08      93
2023-09-09      52
2023-09-10      29
2023-09-11      12
Name: last_edited_date, Length: 1349, dtype: int64

> is there a bird date? not an edit date

#### taxonomic_order

In [151]:
df.taxonomic_order.value_counts()

33811    37790
2382     31621
27525    27989
26774    25890
21660    23895
         ...
32546        1
33380        1
2228         1
6441         1
7225         1
Name: taxonomic_order, Length: 589, dtype: int64

> i dont know what this is

#### category

In [152]:
df.category.value_counts()

species       794528
issf           13606
domestic       11255
spuh            8762
slash           6377
form             438
hybrid           225
intergrade         2
Name: category, dtype: int64

    species = what it is
    issf = ?
    domestic = not wild
    spuh = ?
    slash = ?
    form = some species have different forms
    hybrid = mix of two species
    intergrade = ?

> what is issf, spuh, form, and intergrade?

> imma get rid of hybrids, they are so unlikely and rarely verified. theres also so few of them anyway.

In [153]:
df = df [df.category != 'hybrid']

#### taxon_concept_id

In [154]:
df.taxon_concept_id.value_counts()

avibase-4E74AE22    37790
avibase-BFBC73AF    31621
avibase-7EFF698D    27989
avibase-CB5469E1    25890
avibase-66698D9B    23895
                    ...
avibase-703635C7        1
avibase-E7C4CA9B        1
avibase-B656B15D        1
avibase-DB20CB6B        1
avibase-8D657F5D        1
Name: taxon_concept_id, Length: 574, dtype: int64

> no idea what this is either

In [155]:
df.taxonomic_order.value_counts()

33811    37790
2382     31621
27525    27989
26774    25890
21660    23895
         ...
32742        1
7335         1
32546        1
33380        1
7225         1
Name: taxonomic_order, Length: 574, dtype: int64

In [156]:
df[['taxon_concept_id','taxonomic_order']]

          taxon_concept_id  taxonomic_order
30302     avibase-8EB0C1FA             5706
30303     avibase-8EB0C1FA             5706
30304     avibase-8EB0C1FA             5706
30305     avibase-8EB0C1FA             5706
30306     avibase-8EB0C1FA             5706
...                    ...              ...
23930074  avibase-C70EB219            33479
23930075  avibase-C70EB219            33479
23930076  avibase-597D7DD6             8231
23930077  avibase-597D7DD6             8231
23930078  avibase-597D7DD6             8231

[834968 rows x 2 columns]

> these are probably related in some way, still need to understand what taxon is

#### common_name

In [157]:
df.common_name.value_counts()

Northern Cardinal         38830
White-winged Dove         31621
Northern Mockingbird      27989
Carolina Wren             25892
Black-crested Titmouse    23895
                          ...
longspur sp.                  1
Acanthis/Spinus sp.           1
LeConte's Sparrow             1
Cape May Warbler              1
waterfowl sp.                 1
Name: common_name, Length: 499, dtype: int64

#### scientific_name

In [158]:
df.scientific_name.value_counts()

Cardinalis cardinalis          38830
Zenaida asiatica               31621
Mimus polyglottos              27989
Thryothorus ludovicianus       25892
Baeolophus atricristatus       23895
                               ...
Calcarius/Rhynchophanes sp.        1
Acanthis/Spinus sp.                1
Ammospiza leconteii                1
Setophaga tigrina                  1
Anatidae sp.                       1
Name: scientific_name, Length: 499, dtype: int64

In [159]:
df.scientific_name [df.scientific_name.str.contains('\(')].value_counts()

Accipitridae sp. (hawk sp.)               408
Anatidae (duck sp.)                       386
Anser sp. (Domestic type)                 362
Calidris sp. (peep sp.)                   248
Tyrannus sp. (yellow-bellied)             108
Anatidae sp. (dabbling duck sp.)           80
Spinus sp. (goldfinch sp.)                 36
Anatidae sp. (teal sp.)                    28
Corvus sp. (raven sp.)                     27
Falco sp. (small falcon sp.)               17
Anatidae (goose sp.)                       10
Scolopacidae sp. (large shorebird sp.)      8
Name: scientific_name, dtype: int64

In [160]:
df.scientific_name = df.scientific_name.str.replace(r'\(.*\)','',regex=True)

In [161]:
df.scientific_name [df.scientific_name.str.contains('\(')].value_counts()

Series([], Name: scientific_name, dtype: int64)

In [162]:
df.scientific_name.str.split(expand=True)

                      0            1     2
30302     Recurvirostra    americana  None
30303     Recurvirostra    americana  None
30304     Recurvirostra    americana  None
30305     Recurvirostra    americana  None
30306     Recurvirostra    americana  None
...                 ...          ...   ...
23930074      Setophaga     dominica  None
23930075      Setophaga     dominica  None
23930076          Buteo  albonotatus  None
23930077          Buteo  albonotatus  None
23930078          Buteo  albonotatus  None

[834968 rows x 3 columns]

In [163]:
df.scientific_name [df.scientific_name.str.split(expand=True)[2].notnull()].value_counts()

Nycticorax nycticorax/Nyctanassa violacea    36
Name: scientific_name, dtype: int64

In [165]:
df.common_name [df.scientific_name == 'Nycticorax nycticorax/Nyctanassa violacea'].value_counts()

Black-crowned/Yellow-crowned Night-Heron    36
Name: common_name, dtype: int64

In [166]:
df.scientific_name.value_counts()

Cardinalis cardinalis          38830
Zenaida asiatica               31621
Mimus polyglottos              27989
Thryothorus ludovicianus       25892
Baeolophus atricristatus       23895
                               ...
Calcarius/Rhynchophanes sp.        1
Acanthis/Spinus sp.                1
Turdidae sp.                       1
Ammospiza leconteii                1
Setophaga graciae                  1
Name: scientific_name, Length: 497, dtype: int64

In [167]:
df.scientific_name.str.split(expand=True)[0].value_counts()

Zenaida                    45738
Cardinalis                 39881
Mimus                      27989
Thryothorus                25892
Baeolophus                 24405
                           ...
Calcarius/Rhynchophanes        1
Porphyrio                      1
Asio                           1
Numida                         1
Geopelia                       1
Name: 0, Length: 245, dtype: int64

#### subspecies_common_name

In [172]:
df.subspecies_common_name.value_counts(dropna=False)

NaN                               810029
Rock Pigeon (Feral Pigeon)          5224
Crested Caracara (Northern)         3843
Mallard (Domestic type)             3158
Yellow-rumped Warbler (Myrtle)      2997
                                   ...
Brown Pelican (Atlantic)               1
Hutton's Vireo (Interior)              1
Purple Finch (Eastern)                 1
Green Jay (Green)                      1
Virginia Rail (Virginia)               1
Name: subspecies_common_name, Length: 84, dtype: int64

#### subspecies_scientific_name

In [173]:
df.subspecies_scientific_name.value_counts(dropna=False)

NaN                                    810029
Columba livia (Feral Pigeon)             5224
Caracara plancus cheriway                3843
Anas platyrhynchos (Domestic type)       3158
Setophaga coronata coronata              2997
                                        ...
Pelecanus occidentalis carolinensis         1
Vireo huttoni [stephensi Group]             1
Haemorhous purpureus purpureus              1
Cyanocorax yncas [luxuosus Group]           1
Rallus limicola limicola/friedmanni         1
Name: subspecies_scientific_name, Length: 84, dtype: int64

#### exotic_code

In [174]:
df.exotic_code.value_counts()

N    43053
X     7051
P     5341
Name: exotic_code, dtype: int64

> need to look up these codes

In [168]:
df.columns

Index(['last_edited_date', 'taxonomic_order', 'category', 'taxon_concept_id',
       'common_name', 'scientific_name', 'subspecies_common_name',
       'subspecies_scientific_name', 'exotic_code', 'observation_count',
       'breeding_code', 'breeding_category', 'behavior_code', 'age_sex',
       'country', 'country_code', 'state', 'state_code', 'county',
       'county_code', 'iba_code', 'bcr_code', 'usfws_code', 'atlas_block',
       'locality', 'locality_id', 'locality_type', 'latitude', 'longitude',
       'observation_date', 'time_observations_started', 'observer_id',
       'sampling_event_identifier', 'protocol_type', 'protocol_code',
       'project_code', 'duration_minutes', 'effort_distance_km',
       'effort_area_ha', 'number_observers', 'all_species_reported',
       'group_identifier', 'has_media', 'approved', 'reviewed', 'reason',
       'trip_comments', 'species_comments', 'unnamed__49'],
      dtype='object')

In [39]:
df[['breeding_code','behavior_code']].fillna('0').dropna()

         breeding_code behavior_code
30302                0             0
30303                0             0
30304                0             0
30305                0             0
30306                0             0
...                ...           ...
23930074             0             0
23930075             0             0
23930076             0             0
23930077             0             0
23930078             0             0

[835193 rows x 2 columns]

In [41]:
(df.fillna('0').breeding_code != df.fillna('0').breeding_code).sum()

0